<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
</head>
<body bgcolor="color:green">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Mi Tienda en Linea</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ropa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pantalones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Invierno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Accesorios</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Productos Destacados</p>
      <div id="carrusel1" class="carousel slide">                                   <!-- inicio Carrusel1 -->
        <ol class="carousel-indicators">
          <li data-target="#carrusel1" data-slide-to="0" class="active"></li>
          <li data-target="#carrusel1" data-slide-to="1"></li>
          <li data-target="#carrusel1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./Img/Blusa.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 1</h3>
              <p style="color:rgb(38, 73, 73)">Precio $450</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./Img/Invierno.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 2</h3>
              <p style="color:rgb(38, 73, 73)">Precio $480</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./Img/Pantalon.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 1</h3>
              <p style="color:rgb(38, 73, 73)">Precio $380</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carrusel1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carrusel1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
    </div>                                                                        <!-- fin Carrusel 1 -->
    <div class="col-md-6">
      <p>Productos Nuevos</p>
      <div id="carrusel2" class="carousel slide">                                 <!-- Inicio carrusel 2 -->
        <ol class="carousel-indicators">
          <li data-target="#carrusel2" data-slide-to="0" class="active"></li>
          <li data-target="#carrusel2" data-slide-to="1"></li>
          <li data-target="#carrusel2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./Img/Blusa.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 1</h3>
              <p style="color:rgb(38, 73, 73)">Precio $450</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./Img/Invierno.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 2</h3>
              <p style="color:rgb(38, 73, 73)">Precio $480</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./Img/Pantalon.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 1</h3>
              <p style="color:rgb(38, 73, 73)">Precio $380</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carrusel2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carrusel2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>                                                                                  <!-- Fin Carrusel 2 -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Productos Destacados</p>
      <div id="carrusel3" class="carousel slide">                                             <!-- Inicio carrusel 3 -->
        <ol class="carousel-indicators">
          <li data-target="#carrusel3" data-slide-to="0" class="active"></li>
          <li data-target="#carrusel3" data-slide-to="1"></li>
          <li data-target="#carrusel3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./Img/Blusa.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 1</h3>
              <p style="color:rgb(38, 73, 73)">Precio $450</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./Img/Invierno.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 2</h3>
              <p style="color:rgb(38, 73, 73)">Precio $480</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./Img/Pantalon.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 1</h3>
              <p style="color:rgb(38, 73, 73)">Precio $380</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carrusel3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carrusel3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>                                                                                  <!-- Fin C -->
    </div>
    <div class="col-md-6">
      <p>Productos Destacados</p>
      <div id="carrusel4" class="carousel slide">                                             <!-- Inicio carrusel 4 -->
        <ol class="carousel-indicators">
          <li data-target="#carrusel4" data-slide-to="0" class="active"></li>
          <li data-target="#carrusel4" data-slide-to="1"></li>
          <li data-target="#carrusel4" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./Img/Blusa.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 1</h3>
              <p style="color:rgb(38, 73, 73)">Precio $450</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./Img/Invierno.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 2</h3>
              <p style="color:rgb(38, 73, 73)">Precio $480</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./Img/Pantalon.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 style="color: rgb(29, 29, 48)">Vestido 1</h3>
              <p style="color:rgb(38, 73, 73)">Precio $380</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carrusel4" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carrusel4" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>                                                                                  <!-- Fin 4 -->
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>        
<script src="./js/B-V.js"></script>
</body>